
.card {
 color-scheme: gray;
}



button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}





#root {
  background-color: #000;
  background-image: url(./components/2.png);
  
}

headerimage {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMTk4NTk4MTk1OF5BMl5BanBnXkFtZTcwNTE2MDIwNA@@._V1_.jpg);
  
}